{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, natus repudiandae magni tempore dolorum, asperiores minima hic ea molestiae necessitatibus quis voluptatum libero eum, provident iure sapiente dolor sit ab voluptas a! Necessitatibus aliquam cumque molestias minus ducimus distinctio illum.</p>
<p>Corporis, maiores. Illo a voluptatibus sequi vel. Necessitatibus quia error ab voluptate delectus, vitae libero at ullam praesentium? Cum saepe quo quisquam quae hic eaque nihil quas magni, voluptatem autem repudiandae dolor asperiores odio corporis minima quos eligendi ipsum ab?</p>

{% endblock %}